@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --ink: 17 24 39;
  --muted: 243 244 246;
  --border: 229 231 235;
}

html, body, #__next { height: 100%; }
body { background: rgb(var(--bg)); color: rgb(var(--ink)); }
